notebook
rise
autopep8
pandas
seaborn
python-docx
openpyxl
PyMuPDF
tweepy
snscrape
beautifulsoup4
nltk
spacy
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.4.0/es_core_news_sm-3.4.0-py3-none-any.whl
regex
emoji
scikit-learn
plotly
graphviz
vaderSentiment
textblob
flair
wordcloud
Pillow
transformers